In [23]:
import pandas as pd
import numpy as np
pd.options.display.max_colwidth = 100

In [2]:
data = pd.read_csv('data\\unicorn_companies.csv')

In [3]:
data.shape

(1074, 10)

In [4]:
data.dtypes

Company             object
Valuation           object
Date Joined         object
Industry            object
City                object
Country             object
Continent           object
Year Founded         int64
Funding             object
Select Investors    object
dtype: object

In [3]:
data.fillna('Unknown', inplace=True)

In [4]:
data.Industry.value_counts()

Fintech                                224
Internet software & services           205
E-commerce & direct-to-consumer        111
Health                                  74
Artificial intelligence                 73
Other                                   58
Supply chain, logistics, & delivery     57
Cybersecurity                           50
Data management & analytics             41
Mobile & telecommunications             38
Hardware                                34
Auto & transportation                   31
Edtech                                  28
Consumer & retail                       25
Travel                                  14
Artificial Intelligence                 11
Name: Industry, dtype: int64

There are are two entries for Aritificial Intelligence only differencing in the capsize of the Intelligence

In [5]:
data['Industry'] = data['Industry'].replace(to_replace='Artificial intelligence', value='Artificial Intelligence', regex=True)

### Valuation and Funding are monetary values and appear as strings -> need to change the value format to integer (x1,000,000,000 if B and 1,000,000 if M)

In [6]:
def changing_to_monetary(row,column):
    if row[column] == 'Unknown':
        return 0
    elif 'M' in row[column]:
        return int(row[column][1:][:-1])*1000000
    elif 'B' in row[column]:
        return int(row[column][1:][:-1])*1000000000

In [7]:
data['valuation'] = data.apply(lambda row: changing_to_monetary(row,'Valuation'),axis=1)

In [8]:
data['funding'] = data.apply(lambda row: changing_to_monetary(row,'Funding'),axis=1)

In [9]:
data['investors'] = data.apply(lambda row: row['Select Investors'].split(','), axis=1)

In [10]:
data_investors = data.explode('investors')

In [14]:
data_investors['investors'] = data_investors.apply(lambda row: row['investors'].strip().upper(),axis=1)

In [24]:
def group_investors(row):
    
    investor_list = ['500 Startups','Accel', 'Activant', 'Alibaba Group', 'Baidu Capital',
                 'Bain', 'Bank Of China', 'Bertelsmann', 'Bond Capital', 'Coatue',
                'D1 Capital Partners','DFJ', 'Dragonfly Capital Partners', 'Draper Fisher Juvertson',
                'Eastern Bell Capital', 'Eqt Partners', 'Fidelity Investments', 'Ftx Ventures', 'Goldman Sachs',
                'Google', 'Hanaco Venture Capital','Highland Capital Partners','Iconiq Capital', 'Idg Capital Partners',
                'Insight Venture Partner', 'Jd Capital Management','K2 Venutes', 'Kleiner Perkins Caufield & Byers',
                'Lightspeed Partners', 'Lowercase Capital', 'Matrix Partners', 'Maverick Capital','Mayfield Fund', 
                 'Micrososft','Mithril Capital Management', 'Morningside Group','Paladin Capital Group', 
                 'Providence Equity Partners','Rakuten','Redpoint Ventures','Revolution', 'Saif Parthners', 'Sbi Investment',
                'Sequoia Capital','Shenzen Capital Group']
    
    count = 0
    for number in range(0, len(investor_list)):
        count+=1
        if count < len(investor_list):
            if investor_list[number].upper() in row['investors']:
                return investor_list[number].upper()
            else:
                pass
        elif count >= len(investor_list):
            return row['investors']

In [33]:
data_investors['investor']=data_investors.apply(lambda row: group_investors(row), axis=1)

In [37]:
data_investors.to_csv('C:\\Users\\juanp\\proyectos_varios\\worldwide_unicorns\\data\\investors.csv')

In [39]:
data_investors = pd.read_csv('data\\investors.csv')

In [41]:
data_investors[data_investors['Company']=='SpaceX']

,Unnamed: 0.1,Unnamed: 0,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors,valuation,funding,investors,investor
4,4,1,SpaceX,$100B,2012-12-01,Other,Hawthorne,United States,North America,2002,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothenberg Ventures",100000000000,7000000000,FOUNDERS FUND,FOUNDERS FUND
5,5,1,SpaceX,$100B,2012-12-01,Other,Hawthorne,United States,North America,2002,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothenberg Ventures",100000000000,7000000000,DRAPER FISHER JURVETSON,DRAPER FISHER JURVETSON
6,6,1,SpaceX,$100B,2012-12-01,Other,Hawthorne,United States,North America,2002,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothenberg Ventures",100000000000,7000000000,ROTHENBERG VENTURES,ROTHENBERG VENTURES